{{extend 'layout.html'}}

<div id="toplogo" style="max-width:499px;">
    <img src="{{=URL('static','images/smalllogo.png')}}">
</div>

<link rel="stylesheet" type="text/css" href="{{=URL('static','css/viewPurchasesLayout.css')}}">

<table id="purchaseTable" border="0">
{{for row in rows:}}
	<tr>
		<td>
            <a href="{{=URL('default','viewSingle',args=row.id)}}"><img src="{{=URL(f='download',args=row.user_image)}}" style="max-height:200px;"></a>
		</td>
		<td style="vertical-align:middle;">
            <span style="font-family:Arial; font-weight:900; font-size:150%;">{{=row.title}}</span>
            <br>
            <span style="font-family:Arial; font-weight:900;">{{=row.description}} at {{=row.store}} for ${{=row.price}}</span>
			<br>
			<span style="font-family:Arial; font-weight:900;">bought by {{=row.user_ref.email}} on {{=row.time_submitted}}</span>
		</td>
		<td>
            <span style="font-family:Arial; font-weight:900;">{{=row.average_score}}/10</span>
		</td>
	</tr>
{{pass}}
</table>
